<h1>Articles</h1>
<% @articles.each do |article| %>
  <%= article.title %>
  <%= raw article.body %>
  <%= link_to 'Show', article %>
  <%= link_to 'Edit', edit_article_path(article) %>
  <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are ya suurrrre?' } %>
  <br><br>
<% end %>

<%= link_to 'New Article', new_article_path %>
